body {
	background-color: #efefef;
}

.clearfix {
	zoom:1;
}

.clearfix:after {
	display:inline-block;
	width:100%;
	height:0;
	content:'';
	float:none;
}

.container {
	max-width:992px;
	margin:0 auto;
	padding:0 15px;
	overflow:hidden;
}

.video-list {
	list-style-position:outside;
}

.video-list_item {
	position:relative;
	padding:5px;
	padding-left:135px;
	background:white;
	margin-bottom:15px;
	border:1px solid #ddd;font-size:1.4em;
	background-size:auto 100%;
	background-repeat:no-repeat;
	cursor:pointer;
}

.image-container {
	position:absolute;
	top:0;
	left:0;
	width:120px;
	height:100%;
	background-size:cover;
	background-position:center center;
}

.video-list_item.active  {
	background-color:#D6D9D3;
}

.push-bottom {
	margin-bottom:30px;
}

.hide-panel_content {
	display:none;
}

.hide-panel_trigger {
	padding:15px 0;
	margin-bottom:15px;
}

.main-menu {
	display:inline-block;
	border:1px solid $ddd;
	margin-bottom:15px;
	background:white;
}
.menu-item {
	padding:5px 10px;
	font-size:1.3em;
	line-height:25px;
	cursor:pointer;
}

i.menu-item {
	line-height:25px;
	background:#EC5858;
	color:white;
}

.button {
	padding:5px 15px;
	font-size:1.4em;
	color: white;
	border:1px solid #EC5858;
	cursor:pointer;
	background:#EC5858;
	cursor:pointer;
}

.button:hover {
	background:#C93838;
}

.hide-panel_trigger.active i {
	background-color:white;
}

.hide-panel.active .hide-panel_content{
	display:block;
}

#messages {
	padding: 5px 0;
}

@media screen and (max-width:992px) {
	.main-menu {
		width:100%;
	}
	.main-menu, .main-menu i {
		line-height:60px;
		
	}

	.main-menu i {
		text-align:center;
		font-size:2em;
	}

	.video-list_item {
		padding:5px;
	}
	.video-list_item .image-container {
		z-index:0;
		width:100%;
	}

	.video-list_item .video-content {
		width:100%;
		position: relative;
		z-index:1;
		font-weight:bold;
		color:white;
		text-shadow: 0 0 10px black;
	}
}